/* !==== FONTS ====! */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* !==== VARIABLES ====! */
:root {
    --background: #F0F8FF;
    --hero-background: #c5ddf3;
    --primary: #4070F4;
    --primary-light: #7693e4;
    --text: #111133;
    --text-light: #F0F0FF;
    --text-gray: #888888;
    --link-hover: #d9b4ff;
    --features-background: #b8d3ed;
    --feature-background: #bdd5ec;
    --conclusion-background: #aec9e3;
}


/* !==== STYLES ====! */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--background);
    height: 100vh;
    margin-top: 90px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 60px;
    z-index: 999;
}

nav .brand {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav .brand img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

nav .brand h1 {
    height: fit-content;
    color: var(--text-light);
}

nav .nav-items {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}

nav .nav-items .nav-item {
    margin-right: 25px;
}

nav .nav-items .nav-item.active {
    background: var(--text-light);
    padding: 10px 17px;
    border-radius: 16px;
    white-space: nowrap;
}

nav .nav-items .nav-item.active a {
    color: var(--text);
}

nav .nav-items .nav-item a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    display: inline-block;
    transition: all 300ms ease-out;
}

nav .nav-items .nav-item a:hover,
nav .nav-items .nav-item a:focus {
    color: var(--link-hover);
    transform: scale(1.2);
}

nav .nav-items .nav-item.active a:hover,
nav .nav-items .nav-item.active a:focus {
    color: var(--primary);
    transform: scale(1.1);
}

.hero {
    background: var(--hero-background);
    display: flex;
    justify-content: center;
    padding: 45px 60px;
    color: var(--text);
}

.showcase-img {
    width: 16.67vw;
    height: 16.67vw;
    aspect-ratio: 1 / 1;
}

.hero-inner {
    max-width: 430px;
    margin: 0 5vw;
}

.hero-inner h1 {
    margin: 10px 0;
}

.hero-inner p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.button {
    background: var(--primary);
    color: var(--text-light);
    padding: 13px 20px;
    border-radius: 8px;
    margin: 15px 0;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    transition: background 300ms ease-out;
    white-space: nowrap;
}

.button:hover,
button:focus {
    background: var(--primary-light);
}

.features {
    background: var(--features-background);
    padding: 45px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 45px;
    justify-content: center;
}

.featured-item {
    background: var(--feature-background);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    padding: 30px 25px;
    border-radius: 16px;
    box-shadow: 0 5px 30px rgba(25, 25, 25, 0.5);
}

.featured-item h1 {
    color: #4545af;
    margin: 10px 0;
}

.featured-item p {
    line-height: 1.6;
}

.conclusion {
    text-align: center;
    background: var(--conclusion-background);
    padding: 45px;
    color: var(--text);
}

.conclusion h4 {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.conclusion svg {
    position: absolute;
    transform: translate(-50%) translateY(-25%);
}


/* !==== LOGIN STUFF ====! */
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img {
	width: 500px;
}

form {
	width: 360px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
	margin: 15px 0;
	color: #333;
	font-size: 2.9rem;
}

.login-content .input-div {
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
	margin-top: 0;
}

.i {
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i {
	transition: .3s;
}

.input-div > div {
    position: relative;
	height: 45px;
}

.input-div > div > h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: var(--link-hover);
	transition: .4s;
}

.input-div:before {
	right: 50%;
}

.input-div:after {
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after {
	width: 50%;
}

.input-div.focus > div > h5 {
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i {
	color: var(--link-hover);
}

.input-div > div > input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass {
	margin-bottom: 4px;
}

form a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

form a:hover {
	color: var(--link-hover);
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: var(--text-gray);
    font-size: 1.2rem;
}

/* !==== MEDIA QUERIES ====! */
@media screen and (max-width: 950px) {
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .showcase-img {
        width: 35vw;
        height: 35vw;
    }
}

@media screen and (max-width: 866px) {
    nav .brand img {
        display: none;
    }
}

@media screen and (max-width: 799px) {
    nav {
        height: 170px;
        flex-direction: column;
        justify-content: center;
    }

    nav .nav-items {
        justify-content: center;
    }

    body {
        margin-top: 170px;
    }
}

@media screen and (max-width: 350px) {
    .featured-item h1 {
        font-size: 1.6rem;
    }

    .showcase-img {
        display: none;
    }
}

@media screen and (max-width: 312px) {
    nav {
        height: 200px;
    }

    body {
        margin-top: 200px;
    }
}

@media screen and (max-width: 296px) {
    nav {
        height: 270px;
    }

    body {
        margin-top: 270px;
    }
}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}
